body {
  padding: 3rem;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  background: #45145B;
  background: linear-gradient(180deg, #000341 0%, #C5348C 100%) no-repeat;
  background: linear-gradient(180deg, #000341 0%, #7F6BCE 63.02%, #E21C70 81.25%) no-repeat;
  height: 100vh;
  overflow: hidden;
}


:root {
  --hero-padding-y: 6rem;
}

.hero {
  padding-top: var(--hero-padding-y);
  padding-bottom: var(--hero-padding-y);
}

.hero .container {
  max-width: 60rem;
}

.dark {
  color: #000;
}

.pale{
  opacity: 0.1;
}

.white{
  color: white;
}

.red {
  color: #FF4400;
}

.movie{
  width: 300px;
}

.map{
  width: 500px;
}

.carousel-item input {
  max-width: 300px;
  display: inline;
}


/* Intro page */
.title {
  position: relative;
  z-index: 100;
}

.title h1 {
  font-size: 60px;
  line-height: 110%;
}

.title .btn {
  margin-top: 64px;
}


/* Custom default button */
.btn-primary {
  border: none;
  padding: 24px;
  min-width: 180px;
  height: 68px;
  left: 628px;
  top: 545px;
  background: #FFFFFF;
  box-shadow: 0px 8px 32px rgba(105, 7, 66, 0.5);
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.08em;
  color: #3B2386;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #3B2386;
  box-shadow: 0px 8px 32px rgba(105, 7, 66, 0.5);
  color: #FFFFFF;
}


/* Background */
.background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dunes{
  position: absolute;
  width: 2000px;
  height: 360px;
  left: calc(50% - 2000px/2);
  bottom: 0px;
  filter: drop-shadow(0px 4px 75px rgba(227, 29, 113, 0.5));
}

.stars{
  position: absolute;
  width: 2000px;
  height: 360px;
  left: calc(50% - 2000px/2);
  top: 0px;
  opacity: 0.5;
  filter: blur(1px) drop-shadow(0px 0px 4px #FFFFFF);
}

.f-stars{
  position: absolute;
  width: 2000px;
  height: 600px;
  left: calc(50% - 2000px/2);
  top: 0px;
  opacity: 0.8;
  filter: blur(1px);
}

.moon{
  position: absolute;
  width: 224px;
  height: 224px;
  border-radius: 112px;
  left: calc(50% - 224px/2 + 330px);
  bottom: 234px;
  background: #FFFDF1;
  box-shadow: 0px 0px 94px #FFFFFF;
  filter: blur(2px);
}
